<div class="reset-password">
  <h3 class="title-home ">Invision</h3>
  <form class="reset-password-content" >
    <div class="row ">
      <div class="input-field col s12">
        <input id="email" type="email" #email class="validate" autocomplete="off" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="reset-button">
      <button type="button" class=" btn-small" (click)="forgotPassword(email.value)">Reset Password</button>
      <button id="button-cancel" type="button" class=" btn-small" (click)="route.navigate([''])">Cancel</button>
    </div>



  </form>

</div>
