@import '../../styles/variables.scss';

.title-home {
  text-align: end;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 35px;
  margin: 11%;
}

.reset-password{
  max-width: 800px;
  display: inline;
}


.reset-password-content{
  margin: 10%;
}



.reset-button{
  text-align-last: center;
  display: flex;
  justify-content: space-evenly;
  button{
    border-radius: 100px;
    background-color: #000000;
    opacity: 62%;
    text-transform: none;
    width: 175px;
    height: 45px;
    font-size: 16px;
  }
  #button-cancel{
    background-color: $color-ligther;
    color: $color-secondary-darker;
  }
}
