@import '../../../../styles/variables.scss';

.forms{
  width: 73%;
  margin: 0 auto;
}

fieldset{
  align-content: center;
}

h6{
  color: $color-secondary-darker;
  font-family: $font-primary;
  opacity: 50%;
  font-size:24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 10%;

}

label{
  color: $color-secondary-darker;
  font-family: $font-primary;
  font-size: 14px;
  letter-spacing: 0px;
  opacity: 50%;
}

label:active{
  font-size: 12px;
}

.navigation{
  position: absolute;
  bottom: 15%;
}

.forgot-password{
  color: $color-secondary-darker;
  opacity: 30%;
  margin-top: -11%;
  font-family: $font-primary;
  text-transform: none;
  font-size: 12px;
}

.forgot-password:hover{
  color: #A9C5BA;
  opacity: 100%;
}

.sign-in{
  text-align-last: center;
  button{
    border-radius: 100px;
    background-color: #000000;
    opacity: 62%;
    text-transform: none;
    width: 175px;
    height: 45px;
    font-size: 16px;
  }
}

.separator{
  display: flex;
  justify-content: space-evenly;
  margin: 10% 0% 10% 0% ;
  font-family: $font-primary;
  text-transform: none;
  font-size: 12px;
  color: $color-secondary-darker;
  opacity: 30%;
  hr{
    width: 35%;
    margin: 0%;
    padding: 0%;
    align-self: center;
  }
}

.sign-in-google{
  text-align: -webkit-center;
  button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 100px;
    color: #000000;
    height: 45px;
    width: 263px;
    font-weight: bold;
    font-size: 15px;
    text-transform: none;
  }
  img{
    height: 60%;
  }
}

.redirect-button{
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: $font-primary;
  font-size: 11px;
  margin-top: 10%;
  button{
    text-transform: none;
    color: $color-primary;
    text-decoration:underline;
    padding-left: 1px;
    font-size: 12px;
  }
}
